# Archivos específicos de Android Studio
*.iml
/.idea/
/.idea/caches/
/.idea/libraries/
/idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Configuración de usuario y sistema
/local.properties
.DS_Store
Thumbs.db

# Archivos de compilación y dependencias locales
/build/
/.gradle/
/captures/
/.externalNativeBuild/
/.cxx/

# Caché de Gradle
/.gradle/
/.navigation/
/intermediates/

# Archivos temporales de compilación
/out/
